/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1240px) 
    .chat-buble
        bottom: 60px
        right: 60px
    .container
        width: 951px
    .header
        &__wrapper
            padding-bottom: 16px
            position: relative
            &::before
                position: absolute
                content: ''
                bottom: 0
                left: 0
                width: 100%
                height: 1px
                background-color: $mid-grey
        &__burger
            display: flex
    .nav
        padding: 40px 24px
        background-color: #fff
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 350px
        flex-direction: column
        justify-content: start
        border-right: 1px solid $light-grey
        transition: left .4s
        z-index: 200
        position: fixed
        transition: transform .4s
        transform: translateX(-450px)
        &.active
            transform: none
        &-item
            font-size: 22px
            &:nth-child(2)
                margin-top: 32px
        &-close
            display: block
        &::before
            display: none
    .promo
        padding-top: 40px
        padding-bottom: 80px
        &__wrapper
            column-gap: 48px
        &__btn
            white-space: nowrap
            padding: 17px 30px
            font-size: 16px
        &__title
            font-size: 40px
            line-height: 50px
        &__select-theme
            margin-bottom: 32px
        &__inner
            img
                width: 90%
            .mini-card
                &-1
                    left: 0
                &-2
                    bottom: 120px
                &-4
                    top: 98px
                    right: 62px
                &-8
                    right: 100px
            .bg
                transform: none !important
    .featback
        &__wrapper
            display: grid
            grid-template-columns: 1fr 1fr
        &__inner
            &:first-child
                display: flex
                align-items: center
                .mini-card
                    &-3
                        bottom: 60px
                        right: 70px
                    &-1
                        top: 20px
                        right: 130px
                    &-2
                        top: 120px
    .demand
        &__wrapper
            display: flex
            flex-wrap: wrap
            column-gap: 55px
            justify-content: center
            row-gap: 80px
    .footer
        &__menu
            column-gap: 60px
    .start
        padding-top: 120px
    .roles
        &__wrapper
            grid-template-columns: 1fr 1fr
            justify-items: center
            row-gap: 64px
    .possibilities
        &__cards
            column-gap: 28px
        &__inner
            &:last-child
                max-width: 400px
        &__title
            margin-bottom: 24px
        &__subtitle
            font-size: 18px
            margin-bottom: 16px
        &__list
            &-item
                font-size: 15px
                &:not(:last-child)
                    margin-bottom: 16px
                img
                    width: 28px
                    height: 28px
                    margin-right: 6px
    .search
        &__inner
            &:last-child
                display: none
    .empower
        &__bg
            display: none !important
    .help
        &__wrapper
            column-gap: 60px
    .do
        &__bg
            img
                height: 100%
                width: 100%
                object-fit: cover
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) 
    .chat-buble
        bottom: 60px
        right: 60px
    .container
        width: 747px
    .header
        &__wrapper
            padding-bottom: 16px
            position: relative
            &::before
                position: absolute
                content: ''
                bottom: 0
                left: 0
                width: 100%
                height: 1px
                background-color: $mid-grey
        &__burger
            display: flex
    .nav
        padding: 40px
        background-color: #fff
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 400px
        flex-direction: column
        justify-content: start
        border-right: 1px solid $light-grey
        z-index: 200
        position: fixed
        transition: transform .4s
        transform: translateX(-450px)
        &.active
            transform: none
        &-item
            font-size: 24px
        &-close
            display: block
        &::before
            display: none
    .promo
        padding-top: 40px
        padding-bottom: 80px
        &__wrapper
            display: block
        &__btn
            white-space: nowrap
            padding: 17px 30px
            font-size: 16px
        &__title
            font-size: 40px
            line-height: 50px
            text-align: center
        &__select-theme
            margin-bottom: 32px
            margin-top: 0
        &__inner
            justify-content: center
            display: flex
            flex-direction: column
            align-items: center
            &:first-child
                margin-bottom: 32px
            img
                width: 90%
            .mini-card
                &-1
                    left: 50px
                &-2
                    left: 240px
                &-3
                    right: 200px
                &-4
                    right: 140px
                &-5
                    left: 100px
                &-6
                    left: 89px
                    bottom: 326px
                &-8
                    right: 100px
            .bg
                transform: none !important
    .featback
        padding: 80px 0
        &__wrapper
            justify-content: center
        &__inner
            &:first-child
                display: none
    .demand
        &__wrapper
            grid-template-columns: 1fr 1fr
            justify-items: center
            row-gap: 80px
    .footer
        &__logo
            img
                width: 160px
        &__menu
            column-gap: 30px
        &__cards
            display: grid
            grid-template-columns: 1fr 1fr
            justify-items: center
            gap: 18px
    .start
        padding: 80px 0
        &__inner
            &:first-child
                display: flex
                align-items: center
                img
                    max-width: 100%
        &__title
            margin-bottom: 18px
        &__subtitle
            margin-bottom: 18px
    .roles
        
        &__wrapper
            grid-template-columns: 1fr 1fr
            justify-items: center
            row-gap: 64px
    .alert
        svg
            height: 40px
            width: 40px
            &:last-child
                width: 20px
                height: 20px
    .possibilities
        padding: 80px 0
        height: auto
        .bg__line
            display: none
        &__wrapper
            display: flex
            flex-direction: column-reverse
            row-gap: 180px
        &__cards
            display: none
        &__inner
            display: flex
            flex-direction: column
            align-items: center
        &__list
            transform: none
            &-item
                img
                    width: 28px
                    height: 28px
                    margin-right: 6px
    .search 
        &__inner
            &:last-child
                display: none
    .empower
        &__bg
            display: none !important
        &__inner
            &:first-child
                display: none
    .help
        &__wrapper
            column-gap: 60px
        &__title
            font-size: 32px
    .do
        &__bg
            img
                height: 100%
                width: 100%
                object-fit: cover
/* Landscape phones and portrait tablets */
@media (max-width: 767px)
    .chat-buble
        bottom: 40px
        right: 40px
    .container
        width: 556px
    .header
        padding: 0
        &__wrapper
            padding: 12px 0
            position: relative
            &::before
                position: absolute
                content: ''
                bottom: 0
                left: 0
                width: 100%
                height: 1px
                background-color: $mid-grey
        &__logo
            display: flex
            align-items: center
            img
                width: 160px
        &__burger
            display: flex
    .nav
        padding: 30px
        background-color: #fff
        position: absolute
        left: -520px
        top: 0
        height: 100%
        width: 400px
        flex-direction: column
        justify-content: start
        border-right: 1px solid $light-grey
        z-index: 200
        position: fixed
        transition: transform .4s
        //transform: none
        &.active
            transform: translateX(520px)
        &-item
            font-size: 22px
        &-close
            display: block
        &::before
            display: none
    .promo
        padding-top: 30px
        padding-bottom: 80px
        &__wrapper
            display: block
        &__btn
            white-space: nowrap
            padding: 17px 30px
            font-size: 16px
        &__title
            font-size: 40px
            line-height: 50px
            text-align: center
        &__select-theme
            margin-bottom: 32px
            margin-top: 0
        &__inner
            justify-content: center
            display: flex
            flex-direction: column
            align-items: center
            &:first-child
                margin-bottom: 32px
            img
                width: 90%
            .mini-card
                &-1
                    left: 50px
                &-2
                    left: 200px
                    bottom: 50px
                &-3
                    right: 100px
                &-4
                    right: 80px
                    top: 90px
                &-5
                    left: 70px
                &-6
                    left: 89px
                    bottom: 240px
                &-7
                    right: 90px
                &-8
                    right: 100px
                    top: 120px
            .bg
                transform: none !important
        &__partners
            &-inner
                &:first-child
                    display: flex
                    flex-wrap: wrap
                    column-gap: 80px
                    row-gap: 16px
        .chat-buble
            right: 40px
    .reviews
        padding: 80px 0
        &__card
            &-descr
                width: auto
        #reviewsSlider .slick-track
            display: flex
    .review__card
        padding: 28px 18px
        &-descr
            font-size: 20px
    .featback
        padding: 60px 0
        &__wrapper
            display: block
        &__inner
            &:first-child
                margin-bottom: 24px
    .demand
        &__wrapper
            display: flex
            gap: 0
    .footer
        &__wrapper
            padding: 120px 0
        &__bg
            display: none
        &__logo
            img
                width: auto
        &__menu
            column-gap: 30px
        &__cards
            display: grid
            grid-template-columns: 1fr 1fr
            justify-items: center
            gap: 18px
        &__content
            .container
                display: flex
                flex-direction: column
                row-gap: 32px
    .start
        padding: 80px 0
        &__wrapper
            flex-direction: column
            row-gap: 24px
        &__inner
            img
                width: 100%
    .roles
        background-image: none
        &__wrapper
            display: flex
            align-items: center
        &__card
            display: flex !important
            flex-direction: column
            height: 100%
            margin: 0 auto
            &-wrapper
                height: auto
            .prof__card-add
                display: flex
                white-space: nowrap
    .prof__card
        margin: 0 auto

        &-add
            display: flex
            align-items: center
        &-footer
            margin-top: 16px
    .alert
        padding: 10px 14px
        //top: -100px
        white-space: nowrap
        svg
            height: 24px
            width: 24px
            &:last-child
                display: none
    .possibilities
        padding: 80px 0
        height: auto
        .bg__line
            display: none !important
        &__wrapper
            display: flex
            flex-direction: column-reverse
            row-gap: 120px
        &__cards
            display: none
        &__col
            row-gap: 48px
            justify-content: start
            align-items: center
        &__inner
            display: flex
            flex-direction: column
            align-items: center
        &__list
            transform: none
            margin-bottom: 50px
            &-item
                max-width: 500px
                font-size: 16px
                &:not(:last-child)
                    margin-bottom: 16px
                img
                    width: 28px
                    height: 28px
                    margin-right: 6px
        &__title
            margin-bottom: 16px
        &__subtitle
            margin-bottom: 16px
    .search
        padding: 80px 0
        &__inner
            &:last-child
                display: none
        &__menu
            display: flex
            row-gap: 8px
            flex-wrap: wrap
    .empower
        padding: 80px 0
        &__bg
            display: none !important
        &__title
            margin-bottom: 80px
        &__btns
            margin-top: 80px
        &__inner
            &:first-child
                display: none
        &__list
            row-gap: 8px
    .help
        &__bg
            display: none
        &__wrapper
            display: flex
            flex-direction: column
            align-items: center
            row-gap: 48px
    .partners
        margin-top: 40px
        &-container
            &:nth-child(2)
                .partners-inner
                    flex-wrap: wrap
    .do
        &__bg
            display: none !important
@media (max-width: 576px) 
    .container  
        width: 460px
    .title
        font-size: 38px
    body
        padding-top: 60px
    .overlayer
        display: none !important
    .alert
        white-space: normal
        max-width: 460px
        font-size: 14px
        text-align: center
        svg
            transform: scale(1.7)
    .header
        width: 100%
        position: fixed
        top: 0
        left: 50%
        transform: translateX(-50%)
        z-index: 101
        background-color: #fff
        &__burger
            &.active
                z-index: 201
        &__shortlist
            display: none
        &__wrapper
            position: static
    .nav
        transform: translateX(-580px)
        height: 100vh
        width: 100%
        .header
            &__login
                display: none
            &__sign
                display: none
            &__shortlist
                display: flex
                width: fit-content
                margin-top: 24px
                img
                    margin-right: 6px
                &:hover
                    background-color: $mid-grey
                    color: $dark-grey
                    border-color: #ededed
        &-mobile
            display: flex
        &-close
            display: none !important
    .promo
        padding-bottom: 50px
        &__title
            font-size: 36px
            line-height: 40px
        &__inner
            .bg
                transform: none !important
        .btn
            font-size: 14px
            padding: 15px 28px
        .chat-buble
            bottom: 0px
    .featback
        &__form
            display: flex
            justify-content: center
            &-wrapper
                flex-direction: column
                max-width: 360px
                row-gap: 16px
        &__btn
            width: 100%
    .footer
        &__menu
            display: flex
            flex-direction: column
            row-gap: 32px
        &__card
            width: 160px
    .possibilities
        &__list
            transform: none
        &__checkmark
            width: 22px
            height: 22px
    .do
        padding: 80px 0
        &__list
            &-item
                white-space: nowrap
        &__btns
            display: flex
            flex-direction: column
            row-gap: 24px
            align-items: center
        &__btn
            width: fit-content
    .search
        padding: 80px 0
        &__title
            text-align: center
        &__grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: repeat(3, 160px)
        &__menu
            justify-content: center
        &__inner
            display: flex
            align-items: center
            flex-direction: column
    .empower
        &__title
            margin-bottom: 40px
        &__btns
            margin-top: 40px
/* Portrait phones and smaller */
@media (max-width: 480px)
    .alert
        width: 300px
        max-width: 100%
        svg
            display: none
    .title
        font-size: 32px
    .container  
        width: 350px
    .header
        .container
            width: auto
        &__login
            display: none
        &__logo
            img
                width: 180px
        &__wrapper
            padding: 8px 0
            margin: 0 16px
    .nav
        width: 100vw
        &-mobile
            display: flex
            flex-direction: column-reverse
        .header
            &__login
                display: flex
            &__sign
                display: flex
            &__shortlist
                margin-bottom: 8px
                display: flex
                width: fit-content
                margin-top: 12px
    .promo
        &__title
            font-size: 32px
        &__select-theme
            margin-bottom: 18px
            &-item
                font-size: 14px
        &__btns
            row-gap: 8px
        &__inner
            &:last-child
                background-color: red
        .btn
            text-align: center
            padding: 15px 13px
    .featback
        &__form
            display: flex
            justify-content: center
            &-wrapper
                flex-direction: column
                width: 320px
                row-gap: 16px
        &__btn, &__input
            width: 100%
    .demand
        padding-top: 60px
        padding-bottom: 80px
    .footer
        &__bottom
            .container
                display: flex
                flex-direction: column-reverse
                row-gap: 16px
                align-items: center
    .start
        padding: 80px 0
        &__title
            margin-bottom: 18px
        &__subtitle
            margin-bottom: 18px
        &__btn
            font-size: 16px
    .alert
        font-size: 16px
    .possibilities
        .bg__line
            display: none
        &__title
            line-height: 38px
        &__wrapper
            row-gap: 80px
        &__btns
            display: flex
            flex-direction: column
            row-gap: 8px
            justify-content: center
            align-items: center
        &__btn
            width: fit-content
            display: block
            margin: 0 auto !important
        &__content
            width: auto
        &__subtitle
            line-height: 26px
            font-size: 18px
        &__list
            margin-bottom: 38px
            &-item
                line-height: 26px
                width: auto
                max-width: none
                img
                    width: 24px
                    height: 24px
                    margin-right: 6px
    .do
        padding: 80px 0
        &__list
            &-item
                font-size: 28px
        &__btn
            font-size: 16px
    .empower
        &__title
            margin-bottom: 24px
        &__list
            width: auto
            &-item
                font-size: 14px
        &__btns
            flex-direction: column
            align-items: center
            row-gap: 16px
            margin-top: 48px
        &__btn
            width: fit-content
    .help
        padding: 80px 0
        &__inner
            max-width: 100%
        &__card
            img
                max-width: 100%
            &-tip
                &-1
                    right: -8px
                &-2
                    left: 0
                    top: 195px
        &__title
            margin-bottom: 12px
            font-size: 28px
            line-height: 40px
        &__subtitle
            font-size: 16px
        .btn
            font-size: 16px
    .review
        &s
            padding-top: 40px
        &__card
            padding: 0 8px
            &-wrapper
                margin: 0
    .prof
        &__card
            &-wrapper
                min-width: 320px
    #rolesSlider,#demandSlider
        .slick
            &-list
                padding: 0 !important
    .search
        padding-bottom: 40px
@media (max-width: 360px) 
    .title
        line-height: 40px
    .container  
        width: 310px
    .search
        &__grid
            grid-template-columns: 1fr
            grid-template-rows: repeat(6, 1fr)
        &__card
            &-text
                br
                    display: none
            &-image
                margin-bottom: 16px
        &__label
            width: 300px
            text-align: center
    .do
        &__list
            margin-bottom: 24px
            &-item
                font-size: 24px
                line-height: 40px
        &__label
            font-size: 18px
        &__btn
            font-size: 14px
            padding: 15px 28px
        &__btns
            row-gap: 8px
    .demand
        &__title
            margin-bottom: 60px
    .partners
        &__item
            &:not(:last-child)
                margin-bottom: 16px
    .roles
        &__card
            margin: 0 16px
    .empower
        &__list
            width: 310px
    .footer
        &__cards
            grid-template-columns: 1fr
        &__card
            width: 214px
            row-gap: 16px
    .prof
        &__card
            &-wrapper
                min-width: 300px