/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1240px) 
    .container
        width: 951px
    .header
        &__wrapper
            padding-bottom: 16px
            position: relative
            &::before
                position: absolute
                content: ''
                bottom: 0
                left: 0
                width: 100%
                height: 1px
                background-color: $mid-grey
        &__burger
            display: flex
        &__menu
            padding: 40px
            background-color: #fff
            position: absolute
            left: -450px
            top: 0
            height: 100%
            width: 400px
            flex-direction: column
            justify-content: start
            border-right: 1px solid $light-grey
            transition: left .4s
            z-index: 200
            position: fixed
            &.active
                left: 0
            &-item
                font-size: 24px
            &-close
                display: block
            &::before
                display: none
    .promo
        padding-top: 40px
        padding-bottom: 80px
        &__wrapper
            column-gap: 48px
        &__btn
            white-space: nowrap
            padding: 17px 30px
            font-size: 16px
        &__title
            font-size: 40px
            line-height: 50px
        &__select-theme
            margin-bottom: 32px
        &__inner
            img
                width: 90%
            .mini-card
                &-1
                    left: 0
                &-2
                    bottom: 120px
                &-4
                    top: 98px
                    right: 62px
                &-8
                    right: 100px
    .featback
        &__wrapper
            display: grid
            grid-template-columns: 1fr 1fr
        &__inner
            &:first-child
                display: flex
                align-items: center
                .mini-card
                    &-3
                        bottom: 60px
                        right: 70px
                    &-1
                        top: 20px
                        right: 130px
                    &-2
                        top: 120px
    .demand
        &__wrapper
            grid-template-columns: 1fr 1fr
            justify-items: center
            row-gap: 80px
    .footer
        &__menu
            column-gap: 60px
    .start
        padding-top: 120px
    .roles
        &__wrapper
            grid-template-columns: 1fr 1fr
            justify-items: center
            row-gap: 64px
    .possibilities
        &__cards
            column-gap: 32px
        &__inner
            &:last-child
                max-width: 400px
        &__checkmark
            display: none
        &__list
            &-item
                padding-left: 1em
                position: relative
                &::before
                    position: absolute
                    content: ''
                    top: 50%
                    transform: translateY(-50%)
                    left: 0
                    width: 12px
                    height: 12px
                    border-radius: 50%
                    background-color: $neon
    .search
        &__inner
            &:last-child
                display: none
    .empower
        &__bg
            display: none !important
    .help
        &__wrapper
            column-gap: 60px
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) 
    .container
        width: 747px
    .header
        &__wrapper
            padding-bottom: 16px
            position: relative
            &::before
                position: absolute
                content: ''
                bottom: 0
                left: 0
                width: 100%
                height: 1px
                background-color: $mid-grey
        &__burger
            display: flex
        &__menu
            padding: 40px
            background-color: #fff
            position: absolute
            left: -450px
            top: 0
            height: 100%
            width: 400px
            flex-direction: column
            justify-content: start
            border-right: 1px solid $light-grey
            transition: left .4s
            z-index: 200
            position: fixed
            &.active
                left: 0
            &-item
                font-size: 24px
            &-close
                display: block
            &::before
                display: none
    .promo
        padding-top: 40px
        padding-bottom: 80px
        &__wrapper
            display: block
        &__btn
            white-space: nowrap
            padding: 17px 30px
            font-size: 16px
        &__title
            font-size: 40px
            line-height: 50px
            text-align: center
        &__select-theme
            margin-bottom: 32px
            margin-top: 0
        &__inner
            justify-content: center
            display: flex
            flex-direction: column
            align-items: center
            &:first-child
                margin-bottom: 32px
            img
                width: 90%
            .mini-card
                &-1
                    left: 50px
                &-2
                    left: 240px
                &-3
                    right: 200px
                &-4
                    right: 140px
                &-5
                    left: 100px
                &-6
                    left: 89px
                    bottom: 326px
                &-8
                    right: 100px
    .featback
        padding: 80px 0
        &__wrapper
            justify-content: center
        &__inner
            &:first-child
                display: none
    .demand
        &__wrapper
            grid-template-columns: 1fr 1fr
            justify-items: center
            row-gap: 80px
    .footer
        &__logo
            img
                width: 160px
        &__menu
            column-gap: 30px
        &__cards
            display: grid
            grid-template-columns: 1fr 1fr
            justify-items: center
            gap: 18px
    .start
        padding: 80px 0
        &__inner
            &:first-child
                display: flex
                align-items: center
                img
                    max-width: 100%
        &__title
            margin-bottom: 18px
        &__subtitle
            margin-bottom: 18px
    .roles
        &__wrapper
            grid-template-columns: 1fr 1fr
            justify-items: center
            row-gap: 64px
    .alert
        svg
            height: 40px
            width: 40px
            &:last-child
                width: 20px
                height: 20px
    .possibilities
        padding: 80px 0
        padding-bottom: 0
        .bg__line
            display: none
        &__wrapper
            display: flex
            flex-direction: column-reverse
            row-gap: 180px
        &__cards
            position: static
            animation: none
            display: grid
            grid-template-columns: 1fr 1fr
            justify-content: center
            column-gap: 32px
        &__col
            row-gap: 48px
            justify-content: start
            align-items: center
        &__inner
            display: flex
            flex-direction: column
            align-items: center
        &__list
            transform: translateX(44px)
    .search 
        &__inner
            &:last-child
                display: none
    .empower
        &__bg
            display: none !important
        &__inner
            &:first-child
                display: none
    .help
        &__wrapper
            column-gap: 60px

/* Landscape phones and portrait tablets */
@media (max-width: 767px) 
    .container
        width: 556px
    .header
        padding-top: 16px
        &__wrapper
            padding-bottom: 12px
            position: relative
            &::before
                position: absolute
                content: ''
                bottom: 0
                left: 0
                width: 100%
                height: 1px
                background-color: $mid-grey
        &__logo
            display: flex
            align-items: center
            img
                width: 160px
        &__burger
            display: flex
        &__menu
            padding: 30px
            background-color: #fff
            position: absolute
            left: -500px
            top: 0
            height: 100%
            width: 400px
            flex-direction: column
            justify-content: start
            border-right: 1px solid $light-grey
            transition: left .4s
            z-index: 200
            position: fixed
            &.active
                left: 0
            &-item
                font-size: 22px
            &-close
                display: block
            &::before
                display: none
    .promo
        padding-top: 30px
        padding-bottom: 80px
        &__wrapper
            display: block
        &__btn
            white-space: nowrap
            padding: 17px 30px
            font-size: 16px
        &__title
            font-size: 40px
            line-height: 50px
            text-align: center
        &__select-theme
            margin-bottom: 32px
            margin-top: 0
        &__inner
            justify-content: center
            display: flex
            flex-direction: column
            align-items: center
            &:first-child
                margin-bottom: 32px
            img
                width: 90%
            .mini-card
                &-1
                    left: 50px
                &-2
                    left: 200px
                    bottom: 50px
                &-3
                    right: 100px
                &-4
                    right: 80px
                    top: 90px
                &-5
                    left: 70px
                &-6
                    left: 89px
                    bottom: 240px
                &-7
                    right: 90px
                &-8
                    right: 100px
                    top: 120px
        &__partners
            &-inner
                &:first-child
                    display: flex
                    flex-wrap: wrap
                    column-gap: 80px
                    row-gap: 16px
        .chat-buble
            right: 40px
    .reviews
        padding: 80px 0
        &__card
            &-descr
                width: auto
        #reviewsSlider .slick-track
            display: flex
    .review__card
        padding: 28px 18px
        &-descr
            font-size: 20px
    .featback
        padding: 60px 0
        &__inner
            &:first-child
                display: none
    .demand
        &__wrapper
            grid-template-columns: 1fr
            justify-items: center
            row-gap: 80px
    .footer
        &__wrapper
            padding: 120px 0
        &__bg
            display: none
        &__logo
            img
                width: auto
        &__menu
            column-gap: 30px
        &__cards
            display: grid
            grid-template-columns: 1fr 1fr
            justify-items: center
            gap: 18px
        &__content
            .container
                display: flex
                flex-direction: column
                row-gap: 32px
    .start
        padding: 80px 0
        &__wrapper
            flex-direction: column
            row-gap: 24px
        &__inner
            img
                width: 100%
    .roles
        &__wrapper
            grid-template-columns: 1fr
            justify-items: center
            row-gap: 64px
    .prof__card-footer
        margin-top: 16px
    .alert
        padding: 10px 14px
        top: -100px
        width: 300px
        svg
            height: 40px
            width: 40px
            &:last-child
                display: none
    .possibilities
        padding: 80px 0
        padding-bottom: 0
        .bg__line
            display: none !important
        &__wrapper
            display: flex
            flex-direction: column-reverse
            row-gap: 180px
        &__cards
            position: static
            animation: none
            display: grid
            grid-template-columns: 1fr 1fr
            justify-content: center
            column-gap: 32px
        &__col
            row-gap: 48px
            justify-content: start
            align-items: center
        &__inner
            display: flex
            flex-direction: column
            align-items: center
        &__list
            transform: translateX(26px)
            &-item
                max-width: 500px
        &__checkmark
            width: 24px
            height: 24px
            margin-right: 8px
            svg
                width: 12px
    .search
        &__inner
            &:last-child
                display: none
        &__menu
            display: flex
            row-gap: 8px
            flex-wrap: wrap
    .empower
        padding: 80px 0
        &__bg
            display: none !important
        &__inner
            &:first-child
                display: none
    .help
        &__bg
            display: none
        &__wrapper
            display: flex
            flex-direction: column
            align-items: center
            row-gap: 48px

@media (max-width: 576px) 
    .container  
        width: 460px
    .title
        font-size: 38px
    .header
        &__shortlist
            display: none
        &__menu
            .header
                &__login
                    display: none
                &__sign
                    display: none
                &__shortlist
                    display: flex
                    width: fit-content
                    margin-top: 12px
    .promo
        padding-bottom: 50px
        &__title
            font-size: 36px
            line-height: 40px
        .btn
            font-size: 14px
            padding: 15px 28px
        .chat-buble
            bottom: 0px
    .featback
        &__inner
            &:first-child
                display: none
        &__form
            display: flex
            justify-content: center
            &-wrapper
                flex-direction: column
                max-width: 360px
                row-gap: 16px
        &__btn
            width: 100%
    .footer
        &__menu
            display: flex
            flex-direction: column
            row-gap: 32px
        &__card
            width: 160px
    .possibilities
        &__list
            transform: none
            &-item
                position: relative
                padding-left: 1em
                &:before
                    position: absolute
                    content: ''
                    top: 50%
                    left: 0
                    transform: translateY(-50%)
                    height: 12px
                    width: 12px
                    border-radius: 50%
                    background-color: $neon
        &__checkmark
            display: none
    .do
        padding: 80px 0
        &__list
            &-item
                white-space: nowrap
        &__btns
            display: flex
            flex-direction: column
            row-gap: 24px
            align-items: center
        &__btn
            width: fit-content
    .search
        padding: 80px 0
        &__title
            text-align: center
        &__grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: repeat(3, 160px)
        &__menu
            justify-content: center
        &__inner
            display: flex
            align-items: center
            flex-direction: column

/* Portrait phones and smaller */
@media (max-width: 480px) 
    .container  
        width: 350px
    .header
        &__login
            display: none
        &__menu
            width: 100vw
            &-mobile
                display: flex
                flex-direction: column-reverse
            .header
                &__login
                    display: flex
                &__sign
                    display: flex
                &__shortlist
                    margin-bottom: 8px
                    display: flex
                    width: fit-content
                    margin-top: 12px
    .featback
        &__inner
            &:first-child
                display: none
        &__form
            display: flex
            justify-content: center
            &-wrapper
                flex-direction: column
                width: 320px
                row-gap: 16px
        &__btn, &__input
            width: 100%
    .demand
        padding-top: 60px
        padding-bottom: 80px
    .footer
        &__bottom
            .container
                display: flex
                flex-direction: column-reverse
                row-gap: 16px
                align-items: center
    .start
        padding: 80px 0
        &__title
            margin-bottom: 18px
        &__subtitle
            margin-bottom: 18px
    .alert
        font-size: 16px
    .possibilities
        .bg__line
            display: none
        &__btns
            flex-direction: column
            row-gap: 16px
        &__cards
            display: flex
            flex-direction: column
            row-gap: 48px
    .do
        padding: 80px 0
        &__list
            &-item
                font-size: 28px
    .empower
        &__title
            margin-bottom: 48px
        &__list
            width: auto
            &-item
                font-size: 12px
        &__btns
            flex-direction: column
            align-items: center
            row-gap: 16px
            margin-top: 48px
        &__btn
            width: fit-content
    .help
        padding: 80px 0
        &__inner
            max-width: 100%
        &__card
            img
                max-width: 100%
            &-tip
                &-1
                    right: -8px
                &-2
                    left: 0
                    top: 195px
@media (max-width: 360px) 
    .container  
        width: 340px
