@media ( max-width: 1600px)
    .do
        &__bg
            img
                width: 100%
                height: 100%
                object-fit: cover
    .filter__rate-item
        &:first-child
            .filter__rate-list-wrapper
                left: 0
                transform: translateY(3px)
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1240px)
    .chat-buble
        bottom: 60px
        right: 60px
    .container
        width: 951px
    .body__fuild-container
        .container
            width: 100%
            padding: 0 15px
    .header
        &__wrapper
            padding-bottom: 16px
            position: relative
            &::before
                position: absolute
                content: ''
                bottom: 0
                left: 0
                width: 100%
                height: 1px
                background-color: $mid-grey
        &__burger
            display: flex
        &__masthead
            align-items: center
        &__search
            &-select
                padding-left: 12px
                padding-right: 26px
                &::before
                    right: 10px
            &-input
                padding-left: 24px
                padding-right: 4px
            &-inner
                &::before
                    left: 4px
    .nav
        padding: 40px 24px
        background-color: #fff
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 350px
        flex-direction: column
        justify-content: start
        border-right: 1px solid $light-grey
        transition: left .4s
        z-index: 200
        position: fixed
        transition: transform .4s
        transform: translateX(-450px)
        &.active
            transform: none
        &-item
            font-size: 22px
            &:nth-child(2)
                margin-top: 32px
        &-close
            display: block
        &__dropdown
            position: static
            transform: none
            top: auto
            left: auto
            background: transparent
            padding: 0
            padding-left: 1em
            padding-top: 16px
            li
                a
                    font-size: 18px
        &::before
            display: none
    .promo
        padding-top: 40px
        padding-bottom: 80px
        &__wrapper
            column-gap: 48px
        &__btn
            white-space: nowrap
            padding: 17px 30px
            font-size: 16px
        &__title
            font-size: 40px
            line-height: 50px
        &__select-theme
            margin-bottom: 32px
        &__inner
            img
                width: 90%
            .mini-card
                &-1
                    left: 0
                &-2
                    bottom: 120px
                &-4
                    top: 98px
                    right: 62px
                &-8
                    right: 100px
            .bg
                transform: none !important
    .featback
        &__wrapper
            display: grid
            grid-template-columns: 1fr 1fr
        &__inner
            &:first-child
                display: flex
                align-items: center
                .mini-card
                    &-3
                        bottom: 60px
                        right: 70px
                    &-1
                        top: 20px
                        right: 130px
                    &-2
                        top: 120px
    .demand
        &__wrapper
            display: flex
            flex-wrap: wrap
            column-gap: 55px
            justify-content: center
            row-gap: 80px
    .footer
        &__menu
            column-gap: 60px
    .start
        padding-top: 120px
    .roles
        background-position-y: -20px
        &__wrapper
            grid-template-columns: 1fr 1fr
            justify-items: center
            row-gap: 64px
    .possibilities
        &__inner
            &:first-child
                img
                    width: 500px
            &:last-child
                max-width: 400px
        &__title
            margin-bottom: 24px
        &__subtitle
            font-size: 18px
            margin-bottom: 16px
        &__list
            &-item
                font-size: 15px
                &:not(:last-child)
                    margin-bottom: 16px
                img
                    width: 28px
                    height: 28px
                    margin-right: 6px
    .search
        &__inner
            &:last-child
                display: none
    .empower
        &__bg
            display: none !important
    .help
        &__wrapper
            column-gap: 60px
    .do
        &__bg
            img
                height: 100%
                width: 100%
                object-fit: cover
    .catalog
        &__wrapper
            grid-template-columns: 190px auto
            column-gap: 18px
        &__content
            padding-left: 18px
        &-card
            &__wrapper
                padding: 24px 20px
            &__image
                margin-right: 8px
            &__name
                font-size: 18px
            &__status
                font-size: 12px
            &__prof
                font-size: 12px
            &__list
                margin-bottom: 16px
    .page
        &__body
            column-gap: 12px
            grid-template-columns: auto 280px
        &__block
            &-wrapper
                column-gap: 80px
    .aside
        padding-left: 12px
        &__list
            &-item
                padding: 12px
        &__ava
            img
                height: 48px
                width: 48px
        &__info
            &-name
                font-size: 14px
                &-role
                    line-height: 1.1
            &-discipline
                font-size: 12px
            &-role
                width: min-content
        &__phone
            &-number
                font-size: 14px
            &-image
                width: 36px
                height: 36px
    .filter
        &__rate
            &-item
                &:first-child
                    .filter__rate-list-wrapper
                        left: 0
                        transform: translateY(3px)
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px)
    .chat-buble
        bottom: 60px
        right: 60px
    .container
        width: 747px
    .body__fuild-container
        .container
            width: 100%
            padding: 0 15px
    .header
        &__wrapper
            padding-bottom: 16px
            position: relative
            &::before
                position: absolute
                content: ''
                bottom: 0
                left: 0
                width: 100%
                height: 1px
                background-color: $mid-grey
        &__burger
            display: flex
        &__masthead
            align-items: center
        &__search
            width: fit-content
            height: 36px
            &-desk
                display: none
            &-mobi
                display: flex
            &-select
                padding-left: 12px
                padding-right: 26px
                &::before
                    right: 10px
            &-input
                padding-left: 24px
                padding-right: 4px
            &-inner
                &::before
                    left: 4px
            &-dropdown
                left: 0
                transform: none
    .nav
        padding: 40px
        background-color: #fff
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 400px
        flex-direction: column
        justify-content: start
        border-right: 1px solid $light-grey
        z-index: 200
        position: fixed
        transition: transform .4s
        transform: translateX(-450px)
        &.active
            transform: none
        &-item
            font-size: 24px
        &-close
            display: block
        &__dropdown
            position: static
            transform: none
            top: auto
            left: auto
            background: transparent
            padding: 0
            padding-left: 1em
            padding-top: 16px
            li
                a
                    font-size: 18px
        &::before
            display: none
    .promo
        padding-top: 40px
        padding-bottom: 80px
        &__wrapper
            display: block
        &__btn
            white-space: nowrap
            padding: 17px 30px
            font-size: 16px
        &__title
            font-size: 40px
            line-height: 50px
            text-align: center
        &__select-theme
            margin-bottom: 32px
            margin-top: 0
        &__inner
            justify-content: center
            display: flex
            flex-direction: column
            align-items: center
            &:first-child
                margin-bottom: 32px
            img
                width: 90%
            .mini-card
                &-1
                    left: 50px
                &-2
                    left: 240px
                &-3
                    right: 200px
                &-4
                    right: 140px
                &-5
                    left: 100px
                &-6
                    left: 89px
                    bottom: 326px
                &-8
                    right: 100px
            .bg
                transform: none !important
    .featback
        padding: 80px 0
        &__wrapper
            justify-content: center
        &__inner
            &:first-child
                display: none
    .demand
        &__wrapper
            grid-template-columns: 1fr 1fr
            justify-items: center
            row-gap: 80px
    .footer
        &__logo
            img
                width: 160px
        &__menu
            column-gap: 30px
        &__cards
            display: grid
            grid-template-columns: 1fr 1fr
            justify-items: center
            gap: 18px
    .start
        padding: 80px 0
        &__inner
            &:first-child
                display: flex
                align-items: center
                img
                    max-width: 100%
        &__title
            margin-bottom: 18px
        &__subtitle
            margin-bottom: 18px
    .roles
        background-position-y: -20px
        &__wrapper
            grid-template-columns: 1fr 1fr
            justify-items: center
            row-gap: 64px
    .alert
        svg
            height: 40px
            width: 40px
            &:last-child
                width: 20px
                height: 20px
    .possibilities
        padding: 80px 0
        height: auto
        .bg__line
            display: none
        &__wrapper
            display: flex
            flex-direction: column-reverse
            row-gap: 180px
        &__cards
            display: none
        &__inner
            display: flex
            flex-direction: column
            align-items: center
            &:first-child
                display: none
        &__list
            transform: none
            &-item
                img
                    width: 28px
                    height: 28px
                    margin-right: 6px
    .search
        &__inner
            &:last-child
                display: none
    .empower
        &__bg
            display: none !important
        &__inner
            &:first-child
                display: none
    .help
        &__wrapper
            column-gap: 60px
        &__title
            font-size: 32px
    .do
        &__bg
            img
                height: 100%
                width: 100%
                object-fit: cover
    .catalog
        &__wrapper
            display: block
        &__triger
            display: flex
        &__content
            padding: 0
            border: none
        &__title
            margin-bottom: 16px
        &__name
            margin-bottom: 12px
        &__row
            &-cards
                column-gap: 18px
            &:not(:first-child)
                margin-top: 48px
        &__header
            flex-direction: column
        &__inner
            display: flex
            align-items: center
            margin-top: 16px
            column-gap: 16px
        &-card
            &__wrapper
                padding: 24px 20px
            &__image
                margin-right: 8px
            &__name
                font-size: 18px
            &__status
                font-size: 12px
            &__prof
                font-size: 12px
            &__list
                margin-bottom: 16px
    .filter
        position: fixed
        overflow-y: scroll
        height: 100vh
        padding: 24px 18px
        left: -350px
        top: 0
        z-index: 199
        background-color: #fff
        border-right: 1px solid rgba(52,63,72,.1)
        &__rate
            &-list
                &-wrapper
                    top: auto
                    bottom: 100%
                    transform: translateX(-50%) translateY(-3px)
            &-item
                &::before
                    top: auto
                    bottom: 100%
                &:first-child
                    .filter__rate-list-wrapper
                        left: 0
                        transform: translateY(-3px)
    .page
        &__header
            &-inner
                &:first-child
                    padding-right: 16px
        &__body
            display: flex
            flex-direction: column
            row-gap: 40px
        &__name
            &-role
                span
                    &:first-child
                        font-size: 28px
            span
                &:first-child
                    font-size: 32px
        &__star
            img
                &:not(:last-child)
                    display: none
        &__btn
            width: 260px
            padding: 16px 0
            font-size: 16px
            &-mini
                font-size: 14px
        &__block
            &-wrapper
                column-gap: 64px
    .aside
        padding: 0
        border: none
        flex-direction: row
        column-gap: 24px
        justify-content: space-evenly
        &__ava
            margin-right: 8px
        &__list
            display: grid
            grid-template-columns: 1fr 1fr
            column-gap: 12px
            &-item
                padding: 12px
        &__ava
            img
                height: 48px
                width: 48px
        &__info
            &-name
                font-size: 14px
            &-discipline
                font-size: 12px
        &__inner
            &:last-child
                width: 100%
        &__phone
            &-image
                width: 36px
                height: 36px

/* Landscape phones and portrait tablets */
@media (max-width: 767px)
    .chat-buble
        bottom: 40px
        right: 40px
    .container
        width: 556px
    .body__fuild-container
        .container
            width: 100%
            padding: 0 15px
    .header
        padding: 0

        &__wrapper
            padding: 12px 0
            position: relative
            &::before
                position: absolute
                content: ''
                bottom: 0
                left: 0
                width: 100%
                height: 1px
                background-color: $mid-grey
        &__logo
            display: flex
            align-items: center
            img
                width: 160px
        &__burger
            display: flex
        &__masthead
            align-items: center
        &__search
            width: fit-content
            height: 36px
            &-desk
                display: none
            &-mobi
                display: flex
            &-select
                padding-left: 12px
                padding-right: 26px
                &::before
                    right: 10px
            &-input
                padding-left: 24px
                padding-right: 4px
            &-inner
                &::before
                    left: 4px
            &-dropdown
                left: 0
                transform: none
    .nav
        padding: 30px
        background-color: #fff
        position: absolute
        left: -520px
        top: 0
        height: 100%
        width: 400px
        flex-direction: column
        justify-content: start
        border-right: 1px solid $light-grey
        z-index: 200
        position: fixed
        transition: transform .4s
        //transform: none
        &.active
            transform: translateX(520px)
        &-item
            font-size: 22px
        &-close
            display: block
        &__dropdown
            position: static
            transform: none
            top: auto
            left: auto
            background: transparent
            padding: 0
            padding-left: 1em
            padding-top: 16px
            li
                a
                    font-size: 16px
        &::before
            display: none
    .promo
        padding-top: 30px
        padding-bottom: 80px
        &__wrapper
            display: block
        &__btn
            white-space: nowrap
            padding: 17px 30px
            font-size: 16px
        &__title
            font-size: 40px
            line-height: 50px
            text-align: center
        &__select-theme
            margin-bottom: 32px
            margin-top: 0
        &__inner
            justify-content: center
            display: flex
            flex-direction: column
            align-items: center
            &:first-child
                margin-bottom: 32px
            img
                width: 90%
            .mini-card
                &-1
                    left: 50px
                &-2
                    left: 200px
                    bottom: 50px
                &-3
                    right: 100px
                &-4
                    right: 80px
                    top: 90px
                &-5
                    left: 70px
                &-6
                    left: 89px
                    bottom: 240px
                &-7
                    right: 90px
                &-8
                    right: 100px
                    top: 120px
            .bg
                transform: none !important
        &__partners
            &-inner
                &:first-child
                    display: flex
                    flex-wrap: wrap
                    column-gap: 80px
                    row-gap: 16px
        .chat-buble
            right: 40px
    .reviews
        padding: 80px 0
        &__card
            &-descr
                width: auto
        #reviewsSlider .slick-track
            display: flex
    .review__card
        padding: 28px 18px
        &-descr
            font-size: 20px
    .featback
        padding: 60px 0
        &__wrapper
            display: block
        &__inner
            &:first-child
                margin-bottom: 24px
    .demand
        &__wrapper
            display: flex
            gap: 0
    .footer
        &__wrapper
            padding: 120px 0
        &__bg
            display: none
        &__logo
            img
                width: auto
        &__menu
            column-gap: 30px
        &__cards
            display: grid
            grid-template-columns: 1fr 1fr
            justify-items: center
            gap: 18px
        &__content
            .container
                display: flex
                flex-direction: column
                row-gap: 32px
    .start
        padding: 80px 0
        &__wrapper
            flex-direction: column
            row-gap: 24px
        &__inner
            img
                width: 100%
    .roles
        background-image: none
        &__wrapper
            display: flex
            align-items: center
        &__card
            display: flex !important
            flex-direction: column
            height: 100%
            margin: 0 auto
            &-wrapper
                height: auto
            .prof__card-add
                display: flex
                white-space: nowrap
    .prof__card
        margin: 0 auto

        &-add
            display: flex
            align-items: center
        &-footer
            margin-top: 16px
    .alert
        padding: 10px 14px
        //top: -100px
        white-space: nowrap
        svg
            height: 24px
            width: 24px
            &:last-child
                display: none
    .possibilities
        padding: 80px 0
        height: auto
        .bg__line
            display: none !important
        &__wrapper
            display: flex
            flex-direction: column-reverse
            row-gap: 120px
        &__cards
            display: none
        &__col
            row-gap: 48px
            justify-content: start
            align-items: center
        &__inner
            display: flex
            flex-direction: column
            align-items: center
            &:first-child
                display: none
        &__list
            transform: none
            margin-bottom: 50px
            &-item
                max-width: 500px
                font-size: 18px
                &:not(:last-child)
                    margin-bottom: 16px
                img
                    width: 28px
                    height: 28px
                    margin-right: 6px
        &__title
            margin-bottom: 16px
        &__subtitle
            margin-bottom: 16px
    .search
        padding: 80px 0
        &__inner
            &:last-child
                display: none
        &__menu
            display: flex
            row-gap: 8px
            flex-wrap: wrap
    .empower
        padding: 80px 0
        &__bg
            display: none !important
        &__title
            margin-bottom: 80px
        &__btns
            margin-top: 80px
        &__inner
            &:first-child
                display: none
        &__list
            row-gap: 8px
    .help
        &__bg
            display: none
        &__wrapper
            display: flex
            flex-direction: column
            align-items: center
            row-gap: 48px
    .partners
        margin-top: 40px
        &-container
            &:nth-child(2)
                .partners-inner
                    flex-wrap: wrap
    .do
        &__bg
            display: none !important
    .catalog
        &__wrapper
            display: block
        &__triger
            display: flex
        &__content
            padding: 0
            border: none
        &__title
            font-size: 36px
            margin-bottom: 16px
        &-card
            min-width: 264px
            &__status
                &-role
                    font-size: 14px
                    svg,img
                        width: 12px
                        height: 12px
            &__name
                font-size: 18px
                line-height: 1
        &__cards
            &-category
                grid-template-columns: 1fr 1fr
                grid-template-areas: 'c1 c2''c3 c4''c5 i1''c6 c8''c9 c10''i2 c11''c12 c13''c14 c15''i3 i3'
        &__header
            flex-direction: column
        &__inner
            display: flex
            align-items: center
            margin-top: 16px
            column-gap: 16px
        &__row
            &-cards
                display: flex
                flex-wrap: wrap
                justify-content: center
                column-gap: 18px
                row-gap: 18px
            // &:not(:first-child)
            //     margin-top: 16px
        &__info
            &-card
                &-1
                    max-width: 300px
                    display: none
                &-2
                    max-width: 300px
    .filter
        position: fixed
        overflow-y: scroll
        height: 100vh
        padding: 24px 18px
        left: -350px
        top: 0
        z-index: 199
        background-color: #fff
        border-right: 1px solid rgba(52,63,72,.1)
        &__rate
            &-list
                &-wrapper
                    top: auto
                    bottom: 100%
                    transform: translateX(-50%) translateY(-3px)
            &-item
                &::before
                    top: auto
                    bottom: 100%
                &:first-child
                    .filter__rate-list-wrapper
                        left: 0
                        transform: translateY(-3px)
    .page
        &__body
            display: flex
            flex-direction: column
            row-gap: 40px
        &__subtitle
            margin-bottom: 12px
            line-height: 1
        &__content
            row-gap: 28px
        &__header
            flex-direction: column
            row-gap: 24px
            &-inner
                &:first-child
                    padding-right: 0
        &__item
            &-detail
                line-height: 1.1
        &__name
            span
                &:first-child
                    font-size: 32px
        &__prof
            font-size: 14px
        &__discipline
            font-size: 18px
            margin-bottom: 4px
        &__btn
            width: 260px
            padding: 16px 0
            font-size: 16px
            &-mini
                font-size: 14px
        &__ava
            margin-right: 12px
            img
                width: 100px
            &-role
                width: 108px
                height: 108px
                min-width: 108px
        &__star
            img
                &:not(:last-child)
                    display: none
        &__block
            &-wrapper
                column-gap: 64px
    .aside
        padding: 0
        border: none
        justify-content: space-evenly
        &__phone
            &-image
                width: 36px
                height: 36px
        &__ava
            margin-right: 8px
        &__list
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            column-gap: 12px
            &-item
                padding: 12px
            &-role
                grid-template-columns: 1fr 1fr
        &__ava
            img
                height: 48px
                width: 48px
        &__info
            &-name
                font-size: 14px
            &-discipline
                font-size: 12px
    .superpower
        display: flex
        flex-wrap: wrap

@media (max-width: 576px)
    .container
        width: 460px
    .title
        font-size: 38px
    body
        padding-top: 48px
    .overlayer
        display: none !important
    .alert
        white-space: normal
        max-width: 460px
        font-size: 14px
        text-align: center
        svg
            transform: scale(1.7)
    .header
        width: 100%
        position: fixed
        top: 0
        left: 50%
        transform: translateX(-50%)
        z-index: 101
        background-color: #fff
        &__burger
            &.active
                z-index: 201
        &__shortlist
            display: none
        &__wrapper
            position: static
    .nav
        transform: translateX(-580px)
        height: 100vh
        width: 100%
        .header
            &__login
                display: none
            &__sign
                display: none
            &__shortlist
                display: flex
                width: fit-content
                margin-top: 24px
                img
                    margin-right: 6px
                &:hover
                    background-color: $mid-grey
                    color: $dark-grey
                    border-color: #ededed
        &-mobile
            display: flex
        &-close
            display: none !important
    .promo
        padding-bottom: 50px
        &__title
            font-size: 36px
            line-height: 40px
        &__inner
            .bg
                transform: none !important
        .btn
            font-size: 14px
            padding: 15px 28px
        .chat-buble
            bottom: 0px
    .featback
        &__form
            display: flex
            justify-content: center
            &-wrapper
                flex-direction: column
                max-width: 360px
                row-gap: 16px
        &__btn
            width: 100%
    .footer
        &__menu
            display: flex
            flex-direction: column
            row-gap: 32px
        &__card
            width: 160px
    .possibilities
        &__list
            transform: none
        &__checkmark
            width: 22px
            height: 22px
    .do
        padding: 80px 0
        &__list
            &-item
                white-space: nowrap
        &__btns
            display: flex
            flex-direction: column
            row-gap: 24px
            align-items: center
        &__btn
            width: fit-content
    .search
        padding: 80px 0
        &__title
            text-align: center
        &__grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: repeat(3, 160px)
        &__menu
            justify-content: center
        &__inner
            display: flex
            align-items: center
            flex-direction: column
    .empower
        &__title
            margin-bottom: 40px
        &__btns
            margin-top: 40px
    .filter
        width: 100vw
        left: -580px
        &.active
            transform: translateX(580px)
        &__burger
            display: flex
    .catalog
        &__title
            line-height: 1
            margin-bottom: 8px
        &__triger
            font-size: 14px
            padding: 8px 0
            width: 120px
        &__subtitle
            font-size: 22px
        &__more
            font-size: 16px
            white-space: nowrap
            height: fit-content
        &__cards
            &-category
                grid-template-columns: 1fr
                justify-items: center
                grid-template-areas: 'c1''c2''c3''c4''i1''c5''c6''c7''c8''i2''c9''c10''c11''c12''i3'
    .page
        &__name
            span
                &:first-child
                    font-size: 28px
                    margin: 0
        &__discipline
            font-size: 18px
        &__ava
            img
                width: 100px
        &__header
            &-inner
                &:first-child
                    align-items: start
        &__btn
            padding: 12px 0
        &__item
            &-detail
                &-role
                    line-height: 1.25
                    span
                        margin: 0
                        padding: 0
        &__block
            &-wrapper
                flex-direction: column
                row-gap: 28px
    .aside
        row-gap: 24px
        &__list
            grid-template-columns: 1fr 1fr
    .experience
        &__main-info
            display: grid
            grid-template-areas: 't t''l r'
        &__period
            flex-direction: row
            column-gap: 8px
            padding: 0
            border: none
            margin-bottom: 4px
            justify-content: start
            grid-area: t
            &-end
                padding-left: 8px
                border-left: 1px solid rgba(52,63,72,.1)
        &__profile
            padding-left: 0
            grid-area: l
        &__star
            grid-area: r
        &__title
            margin: 0
/* Portrait phones and smaller */
@media (max-width: 480px)
    .alert
        width: 300px
        max-width: 100%
        svg
            display: none
    .title
        font-size: 32px
    .container
        width: 350px
    .header
        .container
            width: auto
        &__login
            display: none
        &__profile
            &-desk
                display: none !important
        &__logo
            img
                width: 180px
        &__wrapper
            padding: 8px 0
            margin: 0 16px
    .nav
        width: 100vw
        &-mobile
            display: flex
            flex-direction: column-reverse
        .header
            &__login
                display: flex
            &__sign
                display: flex
            &__shortlist
                margin-bottom: 8px
                display: flex
                width: fit-content
                margin-top: 12px
    .promo
        &__title
            font-size: 32px
        &__select-theme
            margin-bottom: 18px
            &-item
                font-size: 14px
        &__btns
            row-gap: 8px
        .btn
            text-align: center
            padding: 15px 13px
    .featback
        &__form
            display: flex
            justify-content: center
            &-wrapper
                flex-direction: column
                width: 320px
                row-gap: 16px
        &__btn, &__input
            width: 100%
    .demand
        padding-top: 60px
        padding-bottom: 80px
    .footer
        &__bottom
            .container
                display: flex
                flex-direction: column-reverse
                row-gap: 16px
                align-items: center
    .start
        padding: 80px 0
        &__title
            margin-bottom: 18px
        &__subtitle
            margin-bottom: 18px
        &__btn
            font-size: 16px
    .alert
        font-size: 16px
    .possibilities
        .bg__line
            display: none
        &__title
            line-height: 38px
        &__wrapper
            row-gap: 80px
        &__btns
            display: flex
            flex-direction: column
            row-gap: 8px
            justify-content: center
            align-items: center
        &__btn
            width: fit-content
            display: block
            margin: 0 auto !important
        &__content
            width: auto
        &__subtitle
            line-height: 26px
            font-size: 18px
        &__list
            margin-bottom: 38px
            &-item
                line-height: 26px
                width: auto
                max-width: none
                img
                    width: 24px
                    height: 24px
                    margin-right: 6px
    .do
        padding: 80px 0
        &__list
            &-item
                font-size: 28px
        &__btn
            font-size: 16px
    .empower
        &__title
            margin-bottom: 24px
        &__list
            width: auto
            &-item
                font-size: 14px
        &__btns
            flex-direction: column
            align-items: center
            row-gap: 16px
            margin-top: 48px
        &__btn
            width: fit-content
    .help
        padding: 80px 0
        &__inner
            max-width: 100%
        &__card
            img
                max-width: 100%
            &-tip
                &-1
                    right: -8px
                &-2
                    left: 0
                    top: 195px
        &__title
            margin-bottom: 12px
            font-size: 28px
            line-height: 40px
        &__subtitle
            font-size: 16px
        .btn
            font-size: 16px
    .review
        &s
            padding-top: 40px
        &__card
            padding: 0 8px
            &-wrapper
                margin: 0
    .prof
        &__card
            &-wrapper
                min-width: 320px
    #rolesSlider,#demandSlider
        .slick
            &-list
                padding: 0 !important
    .search
        padding-bottom: 40px
    .catalog
        padding-top: 30px
        &___title
            font-size: 28px
        &__info
            &-card
                &-3
                    display: none
        &__header
            flex-direction: column-reverse
            row-gap: 12px
            margin-top: 8px
        &__name
            margin-bottom: 16px
        &-card
            min-width: 280px
        &__cards
            &-category
                grid-template-columns: 1fr
                justify-items: center
                grid-template-areas: 'c1''c2''c3''c4''i1''c5''c6''c7''c8''i2''c9''c10''c11''c12''i3'
    .page
        &__ava
            margin-right: 8px
            img
                width: 80px
            &-role
                width: 88px
                height: 88px
                min-width: 88px
                svg
                    width: 48px
                    height: 48px
        &__name
            span
                &:first-child
                    font-size: 26px
                    line-height: 1
                    display: flex
                    align-items: center
        &__prof
            font-size: 14px
            margin-bottom: 2px
        &__discipline
            font-size: 16px
            line-height: 1
            margin: 0
            margin-bottom: 2px
        &__location
            img
                width: 18px
                margin-right: 2px
            span
                line-height: 1
        &__star
            font-size: 14px
            padding: 5px 7px
            height: auto
                margin-right: 2px
        &__info
            &-role
                width: min-content
    .experience
        &__label
            display: none
    .aside
        &__info
            &-discipline
                font-size: 11px
        &__ava
            &-role
                width: 42px
                height: 42px
                svg
                    width: 24px
        &__list
            &-role
                grid-template-columns: 1fr
                display: flex
                align-items: center
                .aside__list-item
                    width: 280px

@media (max-width: 360px)
    .container
        width: 310px
    .header
        &__search
            &-select
                padding-left: 8px
                padding-right: 18px
                &::before
                    right: 6px
            &-input
                letter-spacing: -0.05px
    .search
        &__grid
            grid-template-columns: 1fr
            grid-template-rows: repeat(6, 1fr)
        &__card
            &-text
                br
                    display: none
            &-image
                margin-bottom: 16px
        &__label
            width: 300px
            text-align: center
    .do
        &__list
            margin-bottom: 24px
            &-item
                font-size: 24px
                line-height: 40px
        &__label
            font-size: 18px
        &__btn
            font-size: 14px
            padding: 15px 28px
        &__btns
            row-gap: 8px
    .demand
        &__title
            margin-bottom: 60px
    .partners
        &__item
            &:not(:last-child)
                margin-bottom: 16px
    .roles
        &__card
            margin: 0 16px
    .empower
        &__list
            width: 310px
    .footer
        &__cards
            grid-template-columns: 1fr
        &__card
            width: 214px
            row-gap: 16px
    .prof
        &__card
            &-wrapper
                min-width: 300px
    .catalog
        // &__name
        //     padding: 10px
        &__subtitle
            font-size: 20px
    .aside
        &__list
            grid-template-columns: 220px
            justify-content: center