.bg__line
    position: absolute
    -webkit-user-drag: none
    -moz-user-drag: none
    -ms-user-drag: none
    user-drag: none
    &-wtsi
        left: 0
        top: -295px
    &-find
        bottom: -28px
        left: 0
    &-lets
        right: 0
        top: -270px