.parse-info
    &__row
        &-2col
            display: grid
            grid-template-columns: 1fr 1fr
            column-gap: 16px
.bg__line
    position: absolute
    -webkit-user-drag: none
    -moz-user-drag: none
    -ms-user-drag: none
    user-drag: none
    &-wtsi
        left: 0
        top: -295px
    &-find
        bottom: -28px
        left: 0
    &-lets
        right: 0
        top: -270px
    &-testimonial
        position: absolute
        bottom: -220px
        left: 0
        width: 100%
        z-index: -1
        // height: 100%
        // object-fit: cover
    &-article
        bottom: -110px
        left: 0
    &-cards
        left: 0
        top: 50px
    &-benefits1
        left: 0
        bottom: 0
    &-benefits2
        top: 0
        right: 0
    &-thank
        width: 100%
        top: 8px
    &-thank2
        left: 0
        bottom: -40px
    &-thank3
        left: 0
        top: auto
        bottom: 40px
    &-workTime
        z-index: -1
        width: 100%
    &-resources
        width: 100%
        top: 130px
        left: 0
        z-index: -1
    &-landing1
        right: 0
        top: 0
    &-landing2
        left: 0
        top: 0
    &-stories
        top: -90px
        width: 100%
        left: 0
.tab-content
    overflow: hidden
.levelColor
    color: $primary
    svg path
        fill: currentColor
    &-foundation
        color: $yellow
    &-professional, &-specialist
        color: $secondary2
    &-practitioner
        color: $secondary
    &-junior
        color: $neon
    &-apprentice
        color: $cyan