@import 'base/_variebles'
@import 'base/_fonts'
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Mont'
    font-style: normal
    font-weight: 400
h1,
h2,
h3,
h4,
h5,
h6,
ul, li
    margin: 0
    padding: 0
img
    user-select: none
.container
    max-width: 100%
    width: 1200px
    margin: 0 auto
    &-800
        max-width: 100%
        width: 800px
        margin: 0 auto
.overlayer
    position: fixed
    top: 0
    left: 0
    z-index: 100
    width: 100vw
    height: 100vh
    background-color: #000
    opacity: .4
    filter: blur(4px)
    display: none
.add-to-shortlist
    width: 240px
    padding: 19px 0
    align-items: center
    justify-content: center
    transition: color .4s, background-color .4s
    &.active
        color: $primary
        background-color: #F0EEFF

@import 'base/_text'
@import 'base/_mixins'
@import 'base/_ui'
@import 'base/_ui-plugins'
@import 'base/_animation'

@import 'blocks/_header'
@import 'blocks/_promo'
@import 'blocks/_possibilities'
@import 'blocks/_reviews'
@import 'blocks/_roles'
@import 'blocks/_featback'
@import 'blocks/_start'
@import 'blocks/_demand'
@import 'blocks/_footer'
@import 'blocks/_empower'
@import 'blocks/_alert'
@import 'blocks/_do'
@import 'blocks/_help'
@import 'blocks/_search'
@import 'blocks/_slick'
@import 'blocks/_breadcrumb'
@import 'blocks/_catalog'
@import 'blocks/_filter'
@import 'blocks/_pagination'
@import 'blocks/_page'
@import 'blocks/_aside'
@import 'blocks/_experience'
@import 'blocks/_skills'
@import 'blocks/_superpower'
@import 'blocks/_star'
@import 'blocks/_sign'
@import 'blocks/_confirm'
@import 'blocks/_thank'
@import 'blocks/_shortlist'
@import 'blocks/_favorite'
@import 'blocks/_builder'
@import 'blocks/_intro'

@import '_media'

*[data-theme="partners"]
    display: none
.dropdown, .nav__dropdown, .header__search-dropdown
    display: none