@import 'base/_variebles'
@import 'base/_fonts'
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Mont'
    font-style: normal
    font-weight: 400
    
h1,
h2,
h3,
h4,
h5,
h6,
ul, li
    margin: 0
    padding: 0

img
    user-select: none

.container
    max-width: 100%
    width: 1200px
    margin: 0 auto


@import 'base/_text'
@import 'base/_mixins'
@import 'base/_ui'
@import 'base/_animation'

@import 'blocks/_header'
@import 'blocks/_promo'
@import 'blocks/_possibilities'
@import 'blocks/_reviews'
@import 'blocks/_roles'
@import 'blocks/_featback'
@import 'blocks/_start'
@import 'blocks/_demand'
@import 'blocks/_footer'
@import 'blocks/_alert'
@import 'blocks/_slick'

.add-to-shortlist
    width: 240px
    padding: 19px 0
    align-items: center
    justify-content: center
    transition: color .4s, background-color .4s
    &.active
        color: $primary
        background-color: #F0EEFF

@import '_media'

*[data-theme="partners"]
    display: none