.title
    color: $black
    font-weight: 800
    font-size: 40px
    line-height: 1.2

.section
    padding: 80px 0 70px 0
    &.promo
        padding-top: 20px
        .promo
            position: relative
            &__inner
                display: flex
                justify-content: center
                flex-direction: column
            &__select-theme
                margin-bottom: 30px
            &__wrapper
                justify-content: start
                column-gap: 70px
        .section__title
            font-size: 48px
            margin-bottom: 16px
    &__title
        color: $black
        font-weight: 800
        font-size: 40px
        line-height: 120% // 51/40\[]
        text-align: center
        margin-bottom: 40px
        span
            font-weight: inherit
            color: $primary
        &-white
            color: #fff
        &-difference
            position: absolute
            top: 93px
            left: 50%
            transform: translateX(-50%)
            opacity: 0.3
        &-left
            text-align: left
        &-mb32
            margin-bottom: 32px
        &-check
            margin-bottom: 8px
        &-intro
            margin-bottom: 32px
            max-width: 486px
            font-size: 48px
            line-height: 130%
        &-article
            font-size: 48px
            margin-bottom: 16px
        &-simpleText
            margin-bottom: 24px
        &-get
            margin-bottom: 48px
        &-blog
            margin: 0
        &-thank
            font-size: 48px
            margin-bottom: 24px
            text-align: left
        &-resources
            font-size: 48px
            margin-bottom: 16px
            margin-top: 32px
            text-align: left
        &-workTime
            margin-bottom: 24px
        &-simple
            font-size: 48px
            text-align: left
            margin-bottom: 24px
        &-stories
            color: #000
            text-align: left
            font-size: 48px
            margin-bottom: 16px
        &-hub
            margin-bottom: 16px
        &-single
            font-size: 48px
            margin: 0
            text-align: start
            padding-right: 10px
        &-headbar
            font-size: 48px
            text-align: left
            margin: 0
        &-proposals
            font-size: 48px
            margin: 0
        &-approval
            margin: 8px 0
            font-size: 48px
    &__subtitle
        margin-bottom: 18px
        color: $dark-grey
        font-size: 22px
        font-weight: 800
        line-height: 127.272727% // 28/22
        span
            font-weight: inherit
        &-black
            color: $black
        &-white
            color: #fff
        &-promo
            font-weight: 600
            color: #000
            line-height: 140%
        &-simpleText
            font-size: 24px
            color: $black
            margin-bottom: 24px
        &-sm
            margin: 0
            font-size: 24px
            color: $black
        &-resources
            margin: 0
            color: #000
            font-weight: 600
            line-height: 140%
        &-row
            width: 100%
            margin-bottom: 32px
            margin-top: 60px
            padding-left: 10px
            display: flex
            justify-content: space-between
            align-items: center
            padding-right: 30px
            .btn-more
                font-size: 18px
        &-hub
            color: $black
            margin-top: 16px
            margin-bottom: 12px
        &-videos
            margin: 32px 0
            line-height: 1
        &-attached
            margin-bottom: 24px
        &-dashboard
            margin: 0
            font-size: 24px
            color: $black
        &-comms
            margin: 0
            color: $black
            font-size: 24px
            line-height: 130% // 31/24
        &-approval
            font-size: 24px
            margin-bottom: 24px
        &-approval2
            margin-bottom: 8px
    &__text
        font-size: 18px
        font-weight: 600
        line-height: 150% // 27/18
        color: $dark-grey
        margin-bottom: 24px
        height: fit-content
        &-center
            text-align: center
            margin: 0 auto
        &-difference
            max-width: 794px
            margin-bottom: 10px
        &-no_margin
            margin: 0
        &-white
            color: #fff
        &-mw610
            max-width: 610px
        &-wtsi
            margin: 0
            margin-top: 32px
            text-align: center
            color: #000
            line-height: 125% // 20/16
            font-size: 16px
            a
                font-weight: 800
                position: relative
                color: $primary
                text-decoration: none
                transition: color .2s
                &::before
                    position: absolute
                    content: ''
                    bottom: 0
                    left: 0
                    width: 100%
                    height: 1px
                    background-color: $primary
                    opacity: .5
                    transition: background-color .2s
                &:hover
                    color: $mid-primary
                    &::before
                        background-color: $mid-primary
        &-article
            font-size: 16px
            color: #000
            line-height: 150%
            margin: 0
        &-simpleText
            font-size: 16px
            margin: 0
            &:not(:last-child)
                margin-bottom: 16px
        &-benefit
            margin: 0
            padding-top: 2px
        &-distribution
            max-width: 487px
            text-align: center
            margin: 0 auto 32px auto
        &-simple
            margin-bottom: 59px
            max-width: 554px
        &-comms
            color: $black
            margin-bottom: 32px
        &-approval
            margin-bottom: 16px
            font-size: 16px
            line-height: 150%
            color: $dark-grey
    &__footer
        &-center
            display: flex
            justify-content: center
        &-mt130
            margin-top: 130px
    &__inner
        display: flex
        gap: 12px 16px
    &-dark
        background-color: $black
    &-grey
        background-color: $light-grey
    &-difference
        background: url('../img/bg/lines/line-difference.svg') bottom 24px (center/cover) no-repeat
    &-road
        background: $light-grey url('../img/bg/lines/line-road.svg') center center no-repeat
    &-reviews
        padding-top: 80px
        padding-bottom: 90px
        overflow: hidden
    &-wtsi
        position: relative
    &-lets
        position: relative
        padding: 120px 0
    &__testimonial
        position: relative
        display: grid
        gap: 20px
        grid-template-columns: repeat(4, 1fr)
        grid-template-areas: 'c1 c2 c3 c4''c5 c6 c7 c8''baner baner baner mini''c9 c10 c11 c12 '
        margin-bottom: 68px
        &-flex
            display: flex
            flex-wrap: wrap
            margin: 0 -10px
            margin-bottom: 68px
            gap: 0
            width: calc( 100% + 40px )
            .testimonial
                width: calc( 25% - 25px )
                margin: 0 10px 20px 10px
                &-big
                    width: calc( 75% - 35px )
                    height: fit-content
        &-hub
            .testimonial
                margin-bottom: 32px
        &-noMargin
            margin-bottom: 0
    &-simpleText
        padding: 0
        padding-bottom: 64px
        ul
            list-style: none
            margin-bottom: 16px
            &:last-child
                margin-bottom: 0
        ol
            padding-left: 24px
            margin-bottom: 16px
            &:last-child
                margin-bottom: 0
            li
                padding: 0
                list-style: decimal
                &::before
                    display: none
        li
            position: relative
            font-size: 16px
            line-height: 150%
            color: $dark-grey
            font-weight: 600
            padding-left: 24px
            list-style: none
            &::before
                position: absolute
                content: ''
                left: 10px
                top: 12px
                width: 3px
                height: 3px
                background-color: $dark-grey
                border-radius: 50%
        p
            font-size: 16px
            font-weight: 600
            line-height: 150% // 27/18
            color: $dark-grey
            margin-bottom: 16px
            height: fit-content
            &:last-child
                margin-bottom: 0
    &__list
        display: flex
        flex-direction: column
        margin-bottom: 16px
        list-style: none
        &-numbered
            padding-left: 24px
            list-style: decimal
            .section
                &__item
                    padding-left: 0
                    &::before
                        display: none
    &__item
        position: relative
        font-size: 16px
        line-height: 150%
        color: $dark-grey
        font-weight: 600
        padding-left: 24px
        &::before
            position: absolute
            content: ''
            left: 10px
            top: 12px
            width: 3px
            height: 3px
            background-color: $dark-grey
            border-radius: 50%
    &__row
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        margin-bottom: 32px
        row-gap: 12px
        .btn-more
            font-size: 18px
        &-headbar
            margin: 0
        &-comms
            margin-bottom: 8px
        &-poposals
            margin-bottom: 16px
        &-proposals
            margin-bottom: 16px
    &-benefits
        position: relative
        margin-bottom: 64px
    &-cta
        padding: 100px 0
        margin-bottom: 80px
        background-position-y: 0
        background: $light-grey url(../img/bg/lines/line-cta.svg) center (center/cover) no-repeat
    &-team
        padding: 0
        margin-bottom: 96px
    &-faq
        padding: 0
        margin-bottom: 96px
    &-thank
        position: relative
        padding-top: 108px
        padding-bottom: 88px
    &-check
        position: relative
        padding: 130px 0
    &-share
        padding-top: 134px
        padding-bottom: 124px
    &-workTime
        position: relative
        padding: 0
        padding-bottom: 20px
    &-distribution
        background: $black url('../img/bg/lines/line-distribution.svg') center (center/cover) no-repeat
        padding: 100px 0
    &-resources
        position: relative
        padding-top: 24px
        padding-bottom: 180px
    &-simple
        // position: relative
        padding-bottom: 151px
    &-expert
        background:  url('../img/bg/lines/line-expert.svg') center (center/cover) no-repeat
        background-position-y: -260px
    &-stories
        position: relative
        padding: 0
        padding-top: 10px
        padding-bottom: 190px
    &-lets2
        position: relative
        padding-top: 114px
        padding-bottom: 73px
    &-testimonial
        position: relative
    &-category
        padding: 0
    &-badges
        padding: 0
    &-cards
        padding: 0
    &-cardsHub
        padding: 32px 0
        padding-bottom: 56px
    &-description
        padding: 0
    &-hub
        padding: 0
        padding-top: 20px
    &-firstScreen
        padding: 0
    &-attached
        padding: 0
        padding-bottom: 64px
    &-headbar
        padding-top: 20px
        padding-bottom: 24px
    &-dashboard
        padding: 0
        padding-bottom: 16px
        background-color: $light-grey
    &-timesheet
        padding: 32px 0
        background-color: $light-grey
    &-proposals
        padding-top: 32px
    &-profile
        padding-top: 32px
        padding-bottom: 72px
    &-notFound
        padding-top: 106px
        padding-bottom: 65px
        background:  url('../img/bg/lines/line-404.svg') center (center/cover) no-repeat
        background-position-y: -160px
    &-approval
        padding-top: 20px
        padding-bottom: 32px
a
    &.section
        &__subtitle
            &-hub
                text-decoration: none
                &:hover
                    text-decoration: underline
                    cursor: pointer
.description
    font-size: 14px
    line-height: 140%
    margin-top: 22px
    padding-top: 32px
    border-top: 1px solid rgba(52, 63, 72, .1)
    width:100%
    margin-bottom: 40px