.title
    color: $black
    font-weight: 800
    font-size: 40px
    line-height: 1.2

.section
    &__title
        color: $black
        font-weight: 800
        font-size: 40px
        line-height: 127.5% // 51/40\[]