.btn
    border: none
    outline: none
    border-radius: 12px
    padding: 10px 16px 8px 16px
    cursor: pointer
    text-decoration: none
    transition: color .4s, background-color .4s
    background: $primary
    color: #fff
    font-weight: 800
    &:hover
        background-color: $mid-primary
        color: #fff
    &-big
        padding: 19px 32px
        font-size: 18px
    &-light
        background-color: $white
        color: $primary
    &__more
        position: relative
        color: $primary
        font-size: 14px
        line-height: 24px
        font-weight: 800
        width: fit-content
        cursor: pointer
        text-decoration: none
        transition: color .2s
        &::before
            position: absolute
            content: ''
            left: 0
            bottom: 0
            width: 100%
            height: 1px
            opacity: .5
            background-color: $primary
            transition: background-color .2s
        &:hover
            color: $mid-primary
            &::before
                background-color: $mid-primary
.mini-card
    width: fit-content
    padding: 6px 8px
    background-color: #fff
    border-radius: 12px
    box-shadow: 2px 4px 10px rgba(22,20,40,.1)
    border: 1px solid $secondary2
    svg, img
        grid-area: i
    &__wrapper
        display: grid
        grid-template-areas: 'i t''i s'
        grid-template-columns: auto auto
        grid-template-rows: auto
        column-gap: 6px
        align-items: center
        position: relative
    &__title
        font-weight: 800
        font-size: 7px
        line-height: 9px
        text-transform: uppercase
        grid-area: t
    &__subtitle
        color: #000
        font-weight: 600
        font-size: 10px
        line-height: 13px
        grid-area: s
    &__people
        padding-right: 12px
        img
            border-radius: 50%
        .mini-card
            &__title
                font-size: 11px
                color: #000 !important
                font-weight: 600
            &__subtitle
                font-size: 7px
                font-weight: 800
    &-neon
        border-color: $neon
        .mini-card__title
            color: $neon
    &-rose
        border-color: $secondary2
        .mini-card__title
            color: $secondary2
    &-purple
        border-color: $primary
        .mini-card
            &__title
                color: $primary
            &__circle
                background-color: $primary
    &-cyan
        border-color: $cyan
        .mini-card
            &__circle
                background-color: $cyan
            &__subtitle
                color: $cyan
    &-orange
        border-color: $secondary
        .mini-card
            &__circle
                background-color: $secondary
            &__subtitle
                color: $secondary
    &__circle
        position: absolute
        top: 50%
        right: -12px
        transform: translateY(-50%) translateX(50%)
        border-radius: 50%
        width: 13px
        height: 13px
        background-color: $secondary2
        &::before
            position: absolute
            content: ''
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            background-color: #fff
            height: 6px
            width: 1px
            border-radius: 2px
        &::after
            position: absolute
            content: ''
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            background-color: #fff
            height: 1px
            width: 6px
            border-radius: 2px
.review__card
    width: fit-content
    height: auto
    &-header
        display: flex
        column-gap: 16px
    &-name
        display: flex
        flex-direction: column
        justify-content: center
    &-ava
        grid-area: a
        width: fit-content
        img
            border-radius: 50%
    &-wrapper
        border-radius: 16px
        padding: 32px
        border: 1px solid #EDEDED
        background-color: $mid-grey
        display: flex
        flex-direction: column
        row-gap: 16px
        height: 100%
        margin: 0 12px
    &-title
        color: $black
        font-size: 20px
        line-height: 26px
        font-weight: 800
        grid-area: t
    &-subtitle
        color: $black
        opacity: 0.5
        font-weight: 600
        font-size: 16px
        line-height: 20px
        grid-area: s
    &-descr
        color: $black
        font-weight: 800
        font-size: 22px
        line-height: 28px
        width: 320px
        max-width: 100%
    &-more
        font-weight: 800
        font-size: 14px
        line-height: 24px
        color: $dark-grey
        position: relative
        text-decoration: none
        width: fit-content
        margin-top: auto
        margin-bottom: 0
        transition: color .2s
        &::before
            position: absolute
            content: ''
            left: 0
            bottom: 0
            height: 1px
            background-color: $dark-grey
            width: 100%
            transition: background-color .2s
        &:hover
            color: $mid-primary
            &::before
                background-color: $mid-primary
.prof__card
    position: relative
    background-color: #fff
    width: fit-content
    padding: 96px 24px 24px 24px
    border-radius: 16px
    user-select: none
    &-footer
        margin: auto
        margin-bottom: 0
    &-ava
        position: absolute
        left: 50%
        transform: translateX(-50%)
        top: -8%
        &-circle
            overflow: hidden
            //border: 8px solid $light-grey
            img
                background-color: $light-grey
                border-radius: 50%
                padding: 8px
                border-radius: 50%
    &-name
        color: $black
        font-size: 28px
        line-height: 36px
        text-align: center
        font-weight: 800
        margin-bottom: 10px
        display: block
        text-decoration: none
    &-status
        position: relative
        color: $secondary2
        display: flex
        align-items: center
        justify-content: center
        font-weight: 800
        font-size: 16px
        line-height: 20px
        cursor: help
        svg
            opacity: .7
            margin-left: 4px
            //transform: translateY(-2px)
        &:hover
            .prof__card-toopip
                z-index: 2
                opacity: 1
                transform: translate(-50%, -10px)
    &-profesion
        margin-bottom: 16px
        color: $dark-grey
        font-weight: 800
        text-align: center
        font-size: 18px
        line-height: 23px
    &-prof
        background-color: $dark-grey
        border-radius: 12px
        color: #fff
        font-size: 16px
        font-weight: 600
        line-height: 20px
        display: flex
        width: fit-content
        align-items: center
        padding: 10px 16px 8px 16px
        margin: 0 auto
        margin-bottom: 8px
        white-space: nowrap
        svg, img
            opacity: .7
            margin-right: 6px
            transform: translateY(-1px)
        &-down
            margin-bottom: 8px !important
    &-wrapper
        &:nth-child(2)
            .prof__card
                &-status
                    color: $primary
        &:nth-child(3)
            .prof__card
                &-status
                    color: $yellow
        &:nth-child(4)
            .prof__card
                &-status
                    color: $secondary
    &-grid
        display: grid
        gap: 8px
        grid-template-areas: 'h1 h2''b b''f f'
        margin-bottom: 24px
        &-item
            background: $light-grey
            border: 1px solid #EDEDED
            border-radius: 8px
            padding: 9px 8px 7px 8px
            display: flex
            justify-content: center
            align-items: center
            img
                margin-right: 7px
                transform: translateY(-1px)
        &-1
            position: relative
            grid-area: h1
            color: $dark-grey
            font-weight: 800
            cursor: help
            &:hover
                .prof__card-toopip
                    z-index: 2
                    opacity: 1
                    transform: translate(-50%, -10px)
        &-2
            position: relative
            grid-area: h2
            color: $dark-grey
            font-weight: 800
            cursor: help
            span
                opacity: .4
            &:hover
                .prof__card-toopip
                    z-index: 2
                    opacity: 1
                    transform: translate(-50%, -10px)
        &-3
            grid-area: b
            img
                opacity: .5
        &-4
            grid-area: f
            img
                opacity: .5
    &-btn
        display: flex
        margin-bottom: 16px
        padding: 19px 48px
        white-space: nowrap
    &-toopip
        position: absolute
        left: 50%
        top: 150%
        transform: translateX(-50%)
        width: 140px
        padding: 8px
        background-color: $white
        z-index: -1
        font-size: 10px
        border-radius: 12px
        color: $dark-grey
        font-weight: 600
        line-height: 13px
        opacity: 0
        transition: .3s
    &-add
        margin: 0 auto
        color: $primary
        font-weight: 800
        cursor: pointer
        text-align: center
        position: relative
        width: fit-content
        transition: .4s
        font-size: 14px
        img
            margin-right: 2px
            transform: translateY(1px)
        &::after
            position: absolute
            content: ''
            left: -47%
            top: 0
            width: 100%
            height: 100%
            background: url(../img/ico/marker-active.svg) center center no-repeat
            opacity: 0
            transition: .1s
        &::before
            position: absolute
            content: ''
            left: 0
            bottom: 0
            height: 1px
            width: 100%
            background-color: $primary
            opacity: .5
        &:hover
            color: $mid-primary
        &-active
            &::after
                opacity: 1
.catalog-card
    background-color: #fff
    border-radius: 16px
    max-width: 300px
    position: relative
    &__wrapper
        padding: 24px
    &__header
        display: flex
    &__name
        color: $black
        font-size: 20px
        line-height: 26px
        font-weight: 800
        margin-bottom: 2px
        word-wrap: anywhere
    &__link
        position: absolute
        width: 100%
        height: 100%
        display: block
    &__status
        position: relative
        font-size: 12px
        font-weight: 800
        line-height: 15px
        color: $secondary2
        cursor: help
        display: flex
        column-gap: 2px
        &:hover
            .catalog-card__tooltip
                z-index: 2
                opacity: 1
                transform: translateY(-20px) translateX(-50%)
        &-yellow
            color: $yellow
            path
                fill: $yellow
        &-cyan
            color: #00C8E8
            path
                fill: #00C8E8
        &-neon
            color: $neon
            path
                fill: $neon
        &-orange
            color: $secondary
            path
                fill: $secondary
        &-purple
            color: $primary
            path
                fill: $primary
        &-role
            font-size: 16px
    &__inner
        height: fit-content
    &__prof
        color: $dark-grey
        font-weight: 700
        font-size: 14px
        line-height: 18px
    &__image
        display: flex
        align-items: center
        justify-content: center
        margin-right: 12px
        img
            border-radius: 50%
    &__body
        max-width: 172px
        margin: 0 auto
        margin-top: 12px
    &__rating
        display: flex
        gap: 8px
        margin-bottom: 8px
        .catalog-card__item
            justify-content: center
            &:first-child
                width: 64px
            &:last-child
                width: 100%
    &__item
        position: relative
        background-color: $light-grey
        border: 1px solid $mid-grey
        display: flex
        align-items: center
        border-radius: 8px
        padding: 5px 9px
        padding-right: 6px
        cursor: help
        &:hover
            .catalog-card__tooltip
                z-index: 2
                opacity: 1
                transform: translateY(-12px) translateX(-50%)
        img
            margin-right: 5px
        &-text
            font-weight: 700
            font-size: 14px
            line-height: 18px
            display: flex
            align-items: center
            font-weight: 800
            color: $dark-grey
            span
                font-weight: 800
                opacity: .4
    &__list
        display: flex
        flex-direction: column
        row-gap: 8px
        margin-bottom: 25px
        img, svg
            margin-right: 5px
        &-item
            display: flex
            justify-content: center
            cursor: pointer
            text-decoration: none
            .catalog-card__item-text
                font-weight: 700
            &:last-child
                img,svg
                    opacity: .7
    &__btn
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        padding: 12px 0 10px 0
        border-radius: 8px
        margin-bottom: 12px
        position: relative
        z-index: 1
        &.active
            &:hover
                color: $primary
                background-color: $white
    &__add
        margin-bottom: 5px
        line-height: 24px
    &__compare
        line-height: 24px
        user-select: none
        &::after
            display: none !important
    &__tooltip
        position: absolute
        bottom: -60px
        left: 50%
        transform: translateX(-50%)
        padding: 8px
        max-width: 140px
        font-size: 10px
        font-weight: 600
        line-height: 13px
        color: $dark-grey
        background-color: $white
        border-radius: 12px
        width: max-content
        transition: .3s
        opacity: 0
        cursor: auto
        z-index: -1
    &-role
        position: relative
        margin-top: 36px
        .catalog-card
            &__header
                flex-direction: column
            &__inner
                display: flex
                flex-direction: column
                justify-content: center
            &__image
                position: absolute
                top: -36px
                left: 50%
                transform: translateX(-50%)
                background-color: #fff
                width: 72px
                height: 72px
                border-radius: 50%
                border: 4px solid $light-grey
            &__name
                color: $dark-grey
                text-align: center
            &__status
                justify-content: center
                margin-top: 16px
            &__list
                margin-bottom: 16px
                &-item
                    span
                        font-weight: 800
                    &:last-child
                        span
                            font-weight: 700
    &__footer
        display: none