.confirm
    padding: 32px 0
    background-color: $light-grey
    &__wrapper
        padding-top: 16px
    &__inner
        background-color: #fff
        border-radius: 16px
        padding: 24px
        &:not(:first-child)
            margin-top: 20px
        &-window
            padding: 32px 24px