.possibilities
    padding: 150px 0
    background-color: $mid-grey
    overflow: hidden
    position: relative
    &__cards
        display: flex
        column-gap: 64px
        position: absolute
        transform: translateY(-100px)
        animation: verticalScrollAnim 30s 0.2s infinite alternate
        animation-timing-function: linear
    &__card
        .prof__card
            &-ava
                width: 124px
                height: 124px
                border-radius: 50%
                border: 8px solid $mid-grey
                overflow: hidden
                display: flex
                align-items: center
                justify-content: center
                top: -10%
            &-status
                color: $secondary2 !important
    &__col
        display: flex
        flex-direction: column
        row-gap: 120px
        justify-content: center
    .bg__line
        position: absolute
        left: 50%
        top: 0
        transform: translateX(-50%)
        width: 100vw
    &__wrapper
        display: grid
        column-gap: 110px
        grid-template-columns: auto auto
        justify-content: space-between
    &__inner
        position: relative
        z-index: 2
    &__title
        line-height: 51px
        margin-bottom: 32px
        max-width: 470px
        span
            color: $primary
            font-weight: 800
    &__subtitle
        margin-bottom: 24px
        font-weight: 600
        font-size: 20px
        line-height: 30px
        max-width: 450px
    &__list
        list-style: none
        display: flex
        flex-direction: column
        margin-bottom: 56px
        &-item
            font-weight: 600
            font-size: 20px
            line-height: 30px
            display: flex
            align-items: center
            &:not(:last-child)
                margin-bottom: 24px
    &__checkmark
        margin-right: 12px
        height: 32px
        width: 32px
        border-radius: 6px
        display: grid
        place-items: center
        background-color: $neon
    &__btns
        column-gap: 32px
        display: flex
        align-items: center
    &__btn
        &:last-child
            background-color: transparent
            color: $primary
            text-decoration: underline
            transition: color .4s
            &:hover
                color: $mid-primary