.promo
    position: relative
    padding-top: 54px
    padding-bottom: 100px
    &.section
        .promo__inner
            .bg
                &:first-child
                    transform: none
    &__wrapper
        display: flex
        justify-content: space-between
        min-height: 434px
    &__inner
        position: relative
        .bg
            // &:last-child
            //     transform: translateX(10px)
            &:first-child
                transform: translate(-29px, -22px)
        &-testimonial
            max-width: 543px
    &__select-theme
        background-color: $mid-grey
        display: flex
        justify-content: space-between
        column-gap: 4px
        padding: 4px
        border-radius: 12px
        width: fit-content
        margin-bottom: 40px
        margin-top: 48px
        &-item
            color: $dark-grey
            font-weight: 600
            font-size: 16px
            line-height: 20px
            letter-spacing: 1px
            text-transform: uppercase
            padding: 7px 12px 4px 12px
            border-radius: 8px
            cursor: pointer
            transition: background-color .6s, color .6s
            &.active
                color: #fff
                cursor: default
            &:first-child
                &.active
                    background-color: $secondary2
            &:last-child
                &.active
                    background-color: $secondary
    &__title
        max-width: 404px
        margin-bottom: 32px
        font-size: 48px
        line-height: 61px
    &__btns
        display: flex
        column-gap: 16px
    &__btn
        padding: 18px 32px
    .mini-card
        &-1
            left: 58px
            top: 202px
            .mini-card
                &__subtitle
                    color: $secondary2
        &-2
            bottom: 90px
            left: 159px
        &-3
            top: 230px
            right: 80px
        &-4
            top: 118px
            right: 30px
            .mini-card
                &__subtitle
                    color: $primary
        &-5
            left: -10px
            bottom: 117px
        &-6
            left: 55px
            bottom: 250px
        &-7
            right: 136px
            bottom: 80px
        &-8
            right: 18px
            top: 150px
    &__mini-card
        position: absolute
        z-index: 2
.partners
    margin-top: 70px
    &-inner
        display: flex
        justify-content: center
        opacity: .4
        align-items: center
        column-gap: 32px
        a
            display: block
    &-title
        text-align: center
        margin-bottom: 24px
        font-weight: 800
    &__item
        width: 140px
        display: flex
        align-items: center
        justify-content: center
        &-slider
            width: auto
        &-wrapper
            padding: 0 32px
            // img
            //     padding: 0 32px
.chat-buble
    position: fixed
    right: 100px
    bottom: 120px
    background-color: $primary
    display: grid
    place-items: center
    height: 48px
    width: 48px
    border-radius: 100px 100px 100px 25px
    transition: background-color .2s
    z-index: 198
    cursor: pointer
    animation: showChatBuble cubic-bezier(0.34, 1.80, 0.64, 1) .6s 0s normal
    &:hover
        background-color: $mid-primary
        &::before
            animation: pulse .8s linear infinite
    &::before
        position: absolute
        content: ''
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100%
        height: 100%
        border: 2px solid $primary
        opacity: .0
        z-index: 1
        border-radius: 100px 100px 100px 25px
