.stars
    display: flex
    position: relative
    white-space: nowrap
    svg
        fill: $yellow
    &-popup
        width: fit-content
        margin-top: 8px
        margin-bottom: 24px
        cursor: pointer
        .cover
            width: 100%
.cover
    background: white
    height: 100%
    overflow: hidden
    mix-blend-mode: color
    position: absolute
    top: 0
    right: 0
.star-rating
    color: currentColor
    font-weight: 800